body {
  margin: 0;
  padding: 0;
}
.root {
  padding: 0 1rem;
}
.root-heading {
  font-size: 1.5rem;
}
.root-heading-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.controls {
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.controls .button,
.root-header .button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.125em;
  width: 250px;
  height: 3em;
  background: #36393e99;
  color: white;
  border: 1px solid slategray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.controls .round.button {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
}
.controls .button:hover,
.root-header .button:hover {
  color: #ddd;
}

.root-header .button {
  width: auto;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

button:disabled {
  filter: opacity(0.3);
  pointer-events: none;
}

.controls option {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mobile-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (width < 720px) {
  .mobile-column {
    flex-direction: column;
    gap: 0.25rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}

.loading span {
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-color: white;
  border-style: solid dashed solid dotted;
  border-width: 3px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.output {
  overflow-y: auto;
  max-height: calc(100vh - 270px);
}
@media screen and (width < 720px) {
  .output {
    max-height: calc(100vh - 310px);
  }
  .root {
    padding: 0 0.5rem;
  }
}

.hidden {
  display: none !important;
}
